// Fork this repository for free:  https://github.com/reza-azimifar

.header {
    position: fixed;
    width: 100%;
    background: var(--body-color);
    top: 0;
    left: 0;
    padding: 0.5rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__toggle {
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__menu {
        @media screen and (max-width: 767px) {
            position: fixed;
            top:-100%;
            left: 0;
            right: 0;
            background: var(--container-color);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            width: 90%;
            margin: 0 auto;
            padding: 2.5rem 0;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            z-index: -1;
        }
    }

    &__list {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__link, &__logo, &__toggle {
        color: var(--title-color);
    }
}

.active-link {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        bottom: -0.75rem;
        left: calc(50% - 15px);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background: var(--title-color);
    }
}

.show-menu {
    top: 4rem;
}

.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}