// Fork this repository for free:  https://github.com/reza-azimifar

.services {
    &__container {
        margin-top: 2rem;
        padding-top: 1rem;
    }

    &__info {
        display: grid;
        row-gap: 1rem;
        background: var(--container-color);
        text-align: center;
        box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
        padding: 2rem 1.5rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    &__icon {
        font-size: 3rem;
        color: var(--primary-color);
    }
}